.mentions-title {
  font-family: var(--titleFont);
  text-align: center;
  padding: 1rem;
  color: var(--primaryColor);
  font-size: 2rem;
}

.legal-mentions {
  margin-bottom: 2rem;
}

.mentions-title::after {
  content: "";
  display: block;
  margin-top: 0.5rem;
  width: 10%;
  border-top: 3px solid var(--primaryColor);
  margin-left: auto;
  margin-right: auto;
}

.mentions-paragraphe {
  font-family: var(--textFont);
  padding: 1rem;
  font-size: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  color: var(--primaryColor);
}

.link-privacy {
  text-decoration: none;
}
